@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hubballi&family=Roboto+Mono&display=swap');

body{
    font-family: Hubballi;
    font-size: 1.1em;
}

.grid-container{
    padding-right: 0px;
    padding-left: 0px;
    margin: 0.4rem;
    max-width: 100%;
}

.podnozje{
    background-color: black;
    color: white;
    padding: 1em;
    height: 50px;
    position: fixed;
    bottom: 0px;
    width: 100%;
    margin-bottom: 0;
}

.logo1{
    text-decoration: none;
    font-weight: bold;
    font-style: italic;
    color: white;
    font-size: 1.2em;
    font-family: Roboto Mono;
}

.logo2{
    text-decoration: none;
    font-weight: bold;
    color: rgb(40, 221, 40);
    font-size: 1.2em;
    font-family: Roboto Mono;
}

.podnozje-logo{
    float: left;
    width: 400px;
}

.podnozje-lista{
    float: right;
    width: 100px;
    margin-right: 150px;
    margin-bottom: 50px;
}

.podnozje-link{
    color: white;
}

.prijava-dugme{
    color: white;
    border: 2.5px solid rgb(40, 221, 40);
    border-radius: 10px;
}

#bass{
    height: 500px;
    width: 200px;
    transform: rotate(45deg);
    float: right;
    width: 100px;
    margin-left: 50px;
}

#bubanj{
    height: 500px;
    width: 200px;
}

#gitara{
    height: 500px;
    width: 200px;
    transform: rotate(315deg);
    float: left;
    width: 100px;
}

#pocetna{
    min-height: 500px;
    border: none;
}

#pozdrav{
    border: none;
}

#izbornik{
    background-color: black;
    color: white;
}

#podizbornik{
    background-color: black;
    color: white;
}

#pocetnagumb{
    color: white;
}

#program{
    min-height: 700px;
}

hr{
    max-width: 100%;
}


.log-in-form {
    border: 1px solid #cacaca;
    padding: 1rem;
    border-radius: 0;
    max-width: 400px;
    margin: auto;
  }
  
  